@import "../../scss/_colors.scss";

.CustomerList{
    padding: 10px 70px;
}

.CLdiv1, .SLdiv1{
    display: flex;
    //justify-content: space-between;
    padding: 5px 80px;
}
.CLdiv2{
    display: flex;    
    padding: 0px 80px 5px 80px;
}
.CLdiv2 > button{
    font-size: 20px;
}