.headContainer{
    display: flex;
    height: 63px;
    position: relative;
    padding: 10px 25px 10px 200px;
    background-color: #193773;
    color: white;
    font-size: 40px;
    justify-content: space-between;
}

.mainLogoHead{
    background-color: #193773;
    position: absolute;
    left: -2px;
    top: 0;
    width: 116px;
    padding: 10px;
    border-radius: 150px;
    //transition: 0.3s;
    cursor: pointer;
}
.mlh-selected{
    width: 0px;
    padding: 0px;
    left: 81px;
    top: 10px;
    //transition: 0.3s;
}
.Ins-mlh{
    background-color: #193773;
    position: absolute;
    left: -2px;
    top: 0;
    z-index: 2;
    width: 116px;
    padding: 10px;
    border-radius: 150px;
    transition: 0.3s;
    cursor: pointer;
}
.Ins-mlh.show{
    width: 250px;
    padding: 0px;
    left: 81px;
    top: 10px;
    transition: 0.3s;
}

.equis{
    position: absolute;    
    cursor: pointer;
}

.side-bar{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #193773;
    overflow-x: hidden;
    transition: 0.3s;
}

.side-bar.show{
    width: 412px;
    transition: 0.3s;
}

.side-menu{
    padding-top: 300px;
}
.side-menu > div a, .clsBtn{
    text-wrap: nowrap;
    font-size: 34px;
    padding: 0px 34px;
    color: #959595;
    cursor: pointer;
}

.side-menu > div a:hover, .clsBtn:hover{
    color: white;
}

.htud{
    display: flex;
}

.m-selected{
    color: #F2CB05 !important;
}

.subm-container{
    display: flex;
    padding-left: 20px;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
}

.m-selected + .subm-container{
    height: auto;
}