@import "../../scss/_colors.scss";

.ShoppingList{
    display: flex;
    flex-direction: column; /* Alinea los hijos en columna */
}

.Titles {
    align-self: flex-end;
    margin-right: 50px;
    h2{
        display: flex;
        margin: 0;
        justify-content: center;
    }
}

.column {
        width: 150px;
    }

.Finantialdata {
    align-self: flex-end;
    flex-direction: column;
}