@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.genLink{
  text-decoration: none;
}

.Row{
  display: flex;
}

.Colmn1{
  text-align: end;
  width: 15%;
  padding: 5px 10px;
}

.Colmn2{
  width: 70%;
  padding: 5px 10px;
}

.btnStnd{
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;  
}
.btn1{
  color: white;
  background-color: #193773;
  box-shadow: 0px 3px 0px 0px rgba(16, 35, 73);
}

.btn1:active{
  box-shadow: none;
  transform: translateY(3px);
}