
.icon-gas:before { content: '\e801'; } /* '' */
.icon-griferia:before { content: '\e802'; } /* '' */
.icon-tornilleria:before { content: '\e803'; } /* '' */
.icon-ebanisteria:before { content: '\e804'; } /* '' */
.icon-electricos:before { content: '\e805'; } /* '' */
.icon-estudiantil:before { content: '\e806'; } /* '' */
