.addPurchMo{
    width: 65vw;
    height: min-content;
    position: relative;
    padding: 30px;
    .imgModal{
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding: 10px;
        position: relative;
        picture{
            overflow: hidden;
            display: flex;
            width: 90%;
        }
        img{
            aspect-ratio: 1 / 1;
            width: 80%;
            margin: auto;
            border: solid;
            border-radius: 25%;
            object-fit: contain;
        }
    }
}

.TMCD3 .Col{
    flex-grow: 1;
}

@media screen and (max-width: 900px) {
    .addPurchMo{
        h1{
            font-size: 1rem;
        }
        .imgModal{
            padding: 0px;
            img{
                width: 100%;
            }
        }
    }
}