.productsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.caja-product{
    padding: 1%;
    width: 154px;
    max-height: 205px;
    border: solid 1px black;
    cursor: pointer;
    .detailBox{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &:hover{
        transform: scale(1.025);
    }
}

.MBimgContainer{
    img{        
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
}

.scrollable{
    overflow-y: auto;
}