.twoColumnsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 10px; /* Espacio entre los divs */
}

.data_of_sale {
    display: flex;
    gap: 20px;
}

.Col{
    display: flex;
    flex-direction: column;
}

#table1 {
    height: 40%;
}

.header_Sales_Of_the_Day {
    display: flex;
    background-color: rgb(202, 202, 202);
    padding: 0px 60px;
    gap: 40px;
    margin-bottom: 3px;
}