@import "../../scss/_colors.scss";

.twoColumnsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 10px; /* Espacio entre los divs */
}

.data_of_sale {
    display: flex;
    gap: 20px;
}

.Col{
    display: flex;
    flex-direction: column;
}

#table1 {
    height: 40%;
}

.header_Sales_Of_the_Day {
    display: flex;
    padding: 0px 60px;
    gap: 40px;
    margin-bottom: 3px;
    background: linear-gradient(to right, $azulPrincipal, #FFFFFF);
    color: $blancoPrincipal;
}

#ReprintButtons {
        justify-content: space-between;
        display: flex;
        bottom: '10px';  // ajusta según sea necesario para la distancia desde la parte inferior
        left: '10px';    // ajusta según sea necesario para la distancia desde los bordes
        right: '10px';   // ajusta según sea necesario para la distancia desde los bordes
        width: 'calc(100% - 20px)' // resta el margen izquierdo y derecho para centrar los botones
}

/* Define el estilo inicial del div */
.link-style {
    display: inline-flex; /* Para alinear el icono y texto juntos */
    align-items: center; /* Centra verticalmente los elementos */
    color: blue; /* Color inicial */
    text-decoration: none; /* Sin subrayado, como un link */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Cambia el color al pasar el mouse */
.link-style:hover {
    color: green; /* Cambia el color al pasar el mouse */
}

/* Opcional: Agregar animación suave al cambio de color */
.link-style {
    transition: color 0.3s ease;
}